<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nav</title>
   <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   
<!--    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
  <script src="/javascripts/libs/jquery-3.3.1.min.js" type="text/javascript"></script>
  <script src="/socket.io/socket.io.js"></script>
   <script src="/javascripts/nav.js" type="text/javascript"></script>

 
</head>
<body>


<div class="row">
  <div id="box1" class="column" style="background: url(/images/nav/asia.jpg);background-size: cover;">
    <h2 id="title1" class="text-center">ASIA</h2>
      </div>
  <div id="box2" class="column" style="background: url(/images/nav/africa.jpg);background-size: cover;">
    <h2 id="title2" class="text-center">AFRICA</h2>
    
  </div>
  <div id="box3" class="column" style="background: url(/images/nav/NA.jpg);background-size: cover;">
    <h2 id="title3" class="text-center">NORTH AMERICA</h2>
      </div>
</div>

<div class="row">
  <div id="box4" class="column" style="background: url(/images/nav/SA.jpg);background-size: cover;">
    <h2 id="title4" class="text-center">SOUTH AMERICA</h2>
  
  </div>
  <div id="box5" class="column" style="background: url(/images/nav/europe.jpg);background-size: cover;">
    <h2 id="title5" class="text-center">EUROPE</h2>
     </div>
  <div id="box6" class="column" style="background: url(/images/nav/australia.jpg);background-size: cover;">
    <h2 id="title6" class="text-center">AUSTRALASIA</h2>
   
  </div>
</div>


<!-- <div class="main-wrapper">
  <div class="section left col-xs-3">
    <div class="half"><h4>Top left</h4></div>
    <div class="half"><h4>Bottom left</h4></div>
  </div>
  <div class="section right col-xs-9">
    <h4>Extra step: center stuff here</h4>
  </div>
</div> -->
<!-- 
<div class="container-fluid" style="height:100vh">



<table class="table table-bordered table-dark h-100">
  <tbody class="h-100">
    <tr class="h-50">
      
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
    </tr>
    <tr>
        <td>Jacob</td>
      <td>Thornton</td>
      <td>Thornton</td>

    </tr>

  </tbody>
</table>
</div> -->

<!--   <div id="wholeScreen">

  <div class="row h-100">
    <div style="height: 50%">

    <div class="col-md-4">
        <div class="well text-center">US</div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">Canada</div>
    </div>
    <div class="col-md-4">
        <div class="well">Asia</div>
    </div>
   </div>

</div>
<div class="row" style="height:150px">
    <div class="col-md-4">
        <div class="well">6</div>
    </div>
    <div class="col-md-4">
        <div class="well">7</div>
    </div>
    <div class="col-md-4">
        <div class="well">8</div>
    </div>
</div>

</div>
 -->





</body>
</html>
